/* HERE goes my CSS coding*/
body{
	background-color: #11861E;
	color: white;
}

span#part2{
	color: #FF7800;
}

.main-heading{
	font-family: "menlo";
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
}

.task-hero-app{
	position: relative;
	width: 600px;
	margin: auto;
	background-color: #0E981E;
	min-height: 400px;
}

#new-task-input{
	width: 556px;
	padding: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 3px solid #27C038;
	font-size: 16px;
}

ul#task-list{
	list-style: none;
	font-size: 18px;
	padding-left: 0px;
	background-color: #048221;
	margin-top: 0px;
}

ul#task-list li{
	border: solid 1px #00A651;
	padding: 10px;
}

ul#task-list li .remove-circle{
	float:right;
	padding-right: 10px;
}

li .check-box, li .task-name, footer p{
	display: inline-block;
}

footer{
	margin-top: 100px;
	position: absolute;
	bottom: 5px;
	left: 5px;
}



